@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      User "CommerceUsers\\john@abczyx.net" has been logged in.
</div>
</body>
</html>