<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <commerce.Entities>
            <Cart>
                <patch:attribute name="type">Sample.Commerce.Engine.Connect.Entities.CustomCart, Sample.Commerce.Engine.Connect</patch:attribute>
            </Cart>
            <Party>
                <patch:attribute name="type">Sample.Commerce.Engine.Connect.Entities.CustomParty, Sample.Commerce.Engine.Connect</patch:attribute>
            </Party>
            <SimplePayment type="Sample.Commerce.Engine.Connect.Entities.SimplePaymentInfo, Sample.Commerce.Engine.Connect"/>
        </commerce.Entities>

        <pipelines>            
            <translate.cartToEntity>
                <processor type="Sample.Commerce.Engine.Connect.Pipelines.Carts.TranslateCustomCartToEntity, Sample.Commerce.Engine.Connect">
                    <param ref="entityFactory" />
                </processor>
            </translate.cartToEntity>

            <commerce.carts.addPaymentInfo>

                <processor type="Sample.Commerce.Engine.Connect.Pipelines.Carts.AddSimplePaymentToCart, Sample.Commerce.Engine.Connect"
                           patch:before="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddPaymentInfoToCart, Sitecore.Commerce.Engine.Connect']" />

            </commerce.carts.addPaymentInfo>
        </pipelines>
    </sitecore>
</configuration>